#paper {
   position: relative;
   border: 1px solid gray;
   display: inline-block;
   background: transparent;
   overflow: hidden;
}
#paper svg {
   background: transparent;
}
#paper svg .link {
   z-index: 2;
}

.html-element-transition label {
   color: #333;
   text-shadow: 1px 0 0 lightgray;
   font-weight: bold;
   text-align: center;
   font-size: 12px;
   margin: auto;
}

.html-element-transition {
   position: absolute;
   background: #FFF;
   /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
   pointer-events: none;
   -webkit-user-select: none;
   border-radius: 4px;
   
   padding: 2px;
   box-sizing: border-box;
   z-index: 2;
   width: 49px !important;
   height: 50px !important;
}

.html-element-transition button {
   /* Enable interacting with inputs only. */
   pointer-events: auto;   
}
.html-element-transition button.delete {
   color: white;
   border: none;
   background-color: green;
   border-radius: 20px;
   width: 15px;
   height: 15px;
   line-height: 15px;
   text-align: middle;
   position: absolute;
   top: -15px;
   left: -15px;
   padding: 0;
   margin: 0;
   font-weight: bold;
   cursor: pointer;
}
.html-element-transition button.delete:hover {
   width: 30px;
   height: 30px;
   line-height: 20px;
}

/* html-state */
/**************/

.html-element-state label {
   color: BLACK;
   text-shadow: 1px 0 0 lightgray;
   font-weight: bold;
   text-align: center;
   font-size: 12px;
   margin: auto;
}

.html-element-state {
   position: absolute;
   /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
   pointer-events: none;
   -webkit-user-select: none;
   padding: 2px;
   box-sizing: border-box;
   z-index: 2;
  
}

.html-element-state button {
   /* Enable interacting with inputs only. */
   pointer-events: auto;   
}
.html-element-state button.delete {
  
    background-color: red;
    border: medium none;
    border-radius: 58px;
    color: white;
    cursor: s-resize;
    font-weight: bold;
    height: 24px;
    width: 60px;
    left: 0px;
    line-height: 15px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -15px;
   
}
/* .html-element-state button.delete:hover {
   width: 30px;
   height: 30px;
   line-height: 20px;
}
 */
.html-element-state {
   position: absolute;
   background: #FFF;
   /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
   pointer-events: none;
   -webkit-user-select: none;
   border-radius: 4px;
   
   padding: 2px;
   box-sizing: border-box;
   z-index: 2;
   width: 49px !important;
   height: 50px !important;
}

.html-state button {
   /* Enable interacting with inputs only. */
   pointer-events: auto;   
}
.html-state button.delete {
   color: white;
   border: none;
   background-color: red;
   border-radius: 20px;
   width: 35px;
   height: 35px;
   line-height: 15px;
   text-align: middle;
   position: absolute;
   top: -15px;
   left: -15px;
   padding: 0;
   margin: 0;
   font-weight: bold;
   cursor: pointer;
}
.html-state button.delete:hover {
   width: 50px;
   height: 50px;
   line-height: 20px;
}
.collapse blue {

   background-color: blue;
}
.btn-info{
	color:#fff;
	background-color:#00ff00;
	border-color:#46b8da
}